<div class='d-flex gap-4 flex-md-column text-center justify-content-between'>
  <div id='group-options'>
    <h3 class=''>Group By</h3>
    <input
      type='radio'
      class='btn-check'
      id='group-options-categories'
      name='grouping'
    />
    <label
      class='btn btn-light btn-sm options-base'
      for='group-options-categories'
    >Categories</label>

    <input
      type='radio'
      class='btn-check'
      id='group-options-names'
      name='grouping'
    />
    <label
      class='btn btn-light btn-sm options-base'
      for='group-options-names'
    >Names</label>

    <input
      type='radio'
      class='btn-check'
      id='group-options-individuals'
      name='grouping'
    />
    <label
      class='btn btn-light btn-sm options-color'
      for='group-options-individuals'
    >Individuals</label>
  </div>

  <div class='border border-1 border-light-subtle'></div>

  <div id='time-options'>
    <h3>Time Range</h3>
    <input
      type='radio'
      class='btn-check'
      id='time-options-weekly'
      name='times'
    />
    <label
      class='btn btn-light btn-sm options-color'
      for='time-options-weekly'
    >Weekly</label>

    <input
      type='radio'
      class='btn-check'
      id='time-options-biweekly'
      name='times'
    />
    <label
      class='btn btn-light btn-sm options-color'
      for='time-options-biweekly'
    >Bi-Weekly</label>

    <input
      type='radio'
      class='btn-check'
      id='time-options-monthly'
      name='times'
    />
    <label
      class='btn btn-light btn-sm options-color'
      for='time-options-monthly'
    >Monthly</label>
  </div>
</div>

<script src='/js/chartHandler.js'></script>