<div class="chart-buttons">
    <h2>Group By:</h2>
    <button type="button" class="chart-button" id="categories">Categories</button>
    <button type="button" class="chart-button" id="name">Name</button>
    <button type="button" class="chart-button" id="individual">Individual</button>
</div>
<canvas id='myChart'></canvas>
<script src='/js/chart.js'></script>
