<div id='group-options'>
  <h2>Group By:</h2>
  <input type='radio' id='group-options-categories' name='grouping' />
  <label class="options-color" for='group-options-categories'>Categories</label>

  <input type='radio' id='group-options-names' name='grouping' />
  <label class="options-color" for='group-options-names'>Names</label>

  <input type='radio' id='group-options-individuals' name='grouping' />
  <label class="options-color" for='group-options-individuals'>Individuals</label>
</div>

<div id='time-options'>
  <h2>Time Range:</h2>
  <input type='radio' id='time-options-weekly' name='times' />
  <label class="options-color" for='time-options-weekly'>Weekly</label>

  <input type='radio' id='time-options-biweekly' name='times' />
  <label class="options-color" for='time-options-biweekly'>Bi-Weekly</label>

  <input type='radio' id='time-options-monthly' name='times' />
  <label class="options-color" for='time-options-monthly'>Monthly</label>
</div>

<script src='/js/chartHandler.js'></script>