{{!-- need to pass an index to this partial--}}

<canvas id='myChart{{chartNumber}}'></canvas>
<h3 class="chart-heading" id="chart-heading-{{chartNumber}}">Transactions:</h2>
<ul class="'chart-transaction-list" id="chart-list-{{chartNumber}}"></ul>
