  <div class="row">
    <div class="col-12 col-md-1"></div>
    <div class="col-12 col-md-4 mt-4">
      {{> chartOptions}}
    </div>
    <div class='col-12 col-md-6 col-sm-12'>
      {{> chart chartNumber=0}}
    </div>
    <div class="col-12 col-md-1 col-sm-12"></div>
  </div>

<!-- Modal -->
<div
  class='modal fade'
  id='lineChartModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='exampleModalLabel'>Expenses Graph For Last 12 Months</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div>
          <canvas id='lineChart'></canvas>
        </div>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/homepage.js'></script>