<div class="login-div">
    <h2>Login</h2>
    <form class="login-form">
        <div class="form-line">
            <label for="username-login">Username:</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-line">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-line">
        <button type="submit">Login</button>
      </div>
    </form>
</div>
<div class="login-div">
    <h2>Signup</h2>
    <form class="signup-form">
        <div class="form-line">
            <label for="username-signup">Username:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-line">
            <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-line">
        <button type="submit">Login</button>
      </div>
    </form>
</div>

<script src="./js/login.js"></script>