<div class='px-5 pt-5'>
  <div class='card py-5'>
    <div class='card-body'>
      <div class='container'>
        <div class='row'>
          <div class='col col-12 col-md-5 login-div'>
            <h2 class='text-center'>Login</h2>
            <form class='login-form'>
              <div class='mb-3'>
                <label for='username-login' class='form-label'>Username</label>
                <input type='text' class='form-control' id='username-login' />
              </div>
              <div class='mb-3'>
                <label for='password-login' class='form-label'>Password</label>
                <input
                  type='password'
                  class='form-control'
                  id='password-login'
                />
              </div>
              <button
                type='submit'
                class='btn btn-primary login-btn'
              >Login</button>
            </form>
          </div>
          <div class='col col-12 col-md-2 d-md-flex justify-content-md-center'>
            <div
              class='border border-right-1 border-light-subtle my-5 my-md-0'
            ></div>
          </div>
          <div class='col col-12 col-md-5 signup-div'>
            <h2 class='text-center'>Sign Up</h2>
            <form class='signup-form'>
              <div class='mb-3'>
                <label for='username-signup' class='form-label'>Username</label>
                <input type='text' class='form-control' id='username-signup' />
              </div>
              <div class='mb-3'>
                <label for='password-signup' class='form-label'>Password</label>
                <input
                  type='password'
                  class='form-control'
                  id='password-signup'
                />
              </div>
              <button type='submit' class='btn btn-primary signup-btn'>Sign Up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>