* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
<<<<<<< HEAD
    padding: 40px 50px;
    background-color: #273a45;
}

a {
    padding: 5px 15px;
}

main {
    height: 1163px;
    padding: 50px;
    background-color: #1e2c35;
}

.form-input {
    margin: 10px;
}

.login-btn {
    padding: 5px 12px;
}
=======
    background-color: #1e2c35;
}

>>>>>>> 3325bbe69a87a43fa7932fe71434e94d37c0860d
